<style>
	.section-{{ section.id }}-padding {
		padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
		padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
	}

	p{
		font-size: 22px;
		color: rgba(10, 39, 4, 0.75);
		font-weight: 500;
		line-height: 24px;
	}

	@media screen and (min-width: 750px) {
		.section-{{ section.id }}-padding {
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
		}
	}

</style>
<section>
	<div class="page-width section-{{ section.id }}-padding">
		<div class="px-10">
			<h1 class="tw-text-[83.2px] tw-mt-0 tw-mb-[64px] tw-tracking-tight">{{ section.settings.main_title }}</h1>
			<p class="tw-mb-[64px]">{{ section.settings.subheading }}</p>
			<p>{{ section.settings.policy_compliance }}</p>
			<div class="tw-pl-[32px]"><p>{{ section.settings.reseller_policy_compliance }}</p></div>
			<p>{{ section.settings.bottom_text }}</p>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Authorized Resale Policy",
	"settings": [
		{
			"type": "header",
			"content": "Contents",
		},
		{
			"type": "text",
			"id": "main_title",
			"label": "Main Title",
			"default": "Authorized Resale Policy",
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "Subheading",
			"default": "Grüns (the “Brand Owner”) hereby adopts this Resale Policy (this “Policy”) and requires that each person, firm or entity (as applicable, a “Reseller”) that purchases Brand Owner’s products (the “Products”) for resale or other distribution agree to comply with this Policy."
		},
		{
			"type": "text",
			"id": "policy_compliance",
			"label": "Policy Compliance",
			"default": "Any Reseller that fails to comply with this Policy will be deemed an unauthorized reseller of the Products, and as such, shall have no right to: (i) sell the Products, (ii) use Brand Owner’s intellectual property, including any of its trademarks or copyrights, or (iii) offer Brand Owner’s consumer warranty applicable to any of the Products."
		},
		{
			"type": "richtext",
			"id": "reseller_policy_compliance",
			"label": "Policy List",
			"default": "<p>Applicability. This Policy applies to all resales of the Products. Regardless as to where the Products were acquired, either directly from the Brand Owner, through an authorized distributor, or some other procurement method, a Reseller must comply with the terms of this Policy.  </p>\n<p>Sales to End Users Only. Unless otherwise agreed with Brand Owner in writing, Reseller may only purchase Products for resale to consumers and end user customers, and Reseller may not resell Products to other Resellers, distributors or for further distribution in any manner.</p>\n<p>No Sales on Online Marketplaces. Without the Brand Owner’s express written consent, Reseller may not advertise or sell the Products online on any e-commerce platform, specifically including, but not limited to, Amazon, Temu, eBay, and Walmart. The reseller may sell Products on its own website.</p>\n<p>Handling and Storage. Reseller agrees to handle and store the Products in a safe manner and in compliance with Brand Owner’s storage and handling guidelines.  Reseller will ensure that any Products it purchased are stored in secure, climate-controlled warehouses.</p>\n<p>Product Packaging and Display.  Reseller shall sell Products in their original packaging. Relabeling, repackaging (including the separation of bundled Products or the bundling of Products), and other alterations to Products or their packaging are not permitted. Tampering with, defacing, or otherwise altering any serial number, UPC code, batch or lot code, SKU or other identifying information on Products or their packaging is prohibited. Reseller may not remove, translate, or modify the contents of any label or literature on or accompanying the Products. Reseller shall not advertise, market, display, or demonstrate non-Brand Owner Products together with the Products in a manner that would create the impression that the non-Brand Owner Products are made by, endorsed by, or associated with Brand Owner.</p>\n<p>Trademarks; Copyrights. Resellers that comply with this Policy have a limited, non-exclusive, non-sublicensable, revocable license to use Brand Owner’s trademarks and copyrights in connection with the sale of the Products. Reseller shall not alter, modify, or change any trademark or copyright, nor shall Reseller use any trademark or copyright other than for the promotion and sale of the Products, nor shall Reseller use any trademark or copyright in any manner that negatively impacts such trademark or copyright or the Brand Owner. Failure to comply with the Policy will result in the automatic revocation of the license granted herein and a total forfeiture of the rights granted herein. Brand Owner reserves the right to revoke this license at any time for any or no reason.</p>\n"
		},
		{
			"type": "text",
			"id": "bottom_text",
			"label": "Bottom Text",
			"default": "RESELLERS WHO FAIL TO COMPLY WITH THE FOREGOING TERMS FORFEIT THE RIGHT TO SELL THE PRODUCTS.",
		},
		{
			"type": "header",
			"content": "Section Padding",
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Padding top",
			"default": 36
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Padding bottom",
			"default": 36
		}
	],
	"presets": [
		{
			"name": "Authorized Resale Policy",
			"settings": {}
		}
	]
}
{% endschema %}