<section class="tw-bg-lt-green">
    <style>
        .title-responsive {
            font-size: 32px;
            color: #000000;
        }
        @media screen and (min-width: 1440px) {
            .title-responsive {
                font-size: 44px;
            }
        }
    </style>
    <div class="page-width tw-flex tw-flex-col tw-items-center tw-p-0 md:tw-flex-row md:tw-items-center md:tw-px-[38px] md:tw-min-h-[450px] lg:tw-h-[600px] md:tw-gap-[32px] xl:tw-px-[72px]">
        <div class="tw-w-full tw-max-w-full tw-p-[20px] tw-pb-0  tw-min-w-[265px] md:tw-order-2 md:tw-p-0 md:tw-h-full md:tw-flex md:tw-items-center">
            <div class="tw-relative">
                {% unless section.settings.hero-image %}
                    <div class="tw-flex tw-w-full tw-items-center tw-justify-center tw-bg-green tw-opacity-50 tw-min-h-[204px] tw-max-h-[285px]">
                        <p class="tw-text-white">
                            Image will be here
                        </p>
                    </div>
                {% else %}
                        <img src="{{ section.settings.sale-badge | image_url: width: 1650 }}" alt="Sale badge" width="1650" height="auto" class="tw-absolute tw-top-[-5%] tw-left-[-5%] tw-w-[30%]">
                        <img src="{{ section.settings.hero-image | image_url: width: 1851 }}" alt="Grüns gummies hero image" width="1851" height="auto" class="tw-w-full xl:tw-w-[622px]">
                {%- endunless -%}
            </div>
        </div>

        <div class="tw-flex tw-flex-col tw-gap-[12px] tw-p-[20px] tw-w-full md:tw-order-1 md:tw-p-0 md:tw-justify-center md:tw-h-full">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'star_reviews' -%}
                        <div class="tw-w-full">
                            {% render 'home-star-review',
                                rating: block.settings.star_rating,
                                star_color: block.settings.star_color,
                                review_text_mobile: block.settings.review_text_mobile,
                                review_text_desktop: block.settings.review_text_desktop,
                                font_color: block.settings.review_font_color,
                                strong_font_color: block.settings.strong_font_color
                            %}
                        </div>
                {%- endcase -%}
            {%- endfor -%}
                <div class="tw-flex tw-flex-col">
                    {%- unless section.settings.title_row_1 == blank -%}
                        <h1 class="!tw-m-0 tw-font-bold tw-text-center md:tw-text-left tw-leading-tight title-responsive" style="color: {{ section.settings.highlight_color_1 }};">
                            {{ section.settings.title_row_1 }}
                        </h1>
                    {%- endunless -%}
                {%- unless section.settings.title_row_2 == blank -%}
                    <h2 class="!tw-m-0 tw-font-bold tw-text-center md:tw-text-left tw-leading-tight title-responsive" style="color: {{ section.settings.highlight_color_2 }};">
                        {{ section.settings.title_row_2 }}
                    </h2>
                {%- endunless -%}
            </div>

            {% comment %} desktop description {% endcomment %}
            <p class="!tw-m-0 tw-text-[14px] xl:tw-text-[16px] tw-hidden md:tw-block tw-text-left tw-leading-[160%] tw-tracking-tight">
                {{ section.settings.description_desktop }}
            </p>
            <a
                href="#product-page-section"
                class="
                    tw-inline-flex
                    tw-items-center
                    tw-justify-center
                    tw-font-bold
                    tw-px-12
                    tw-py-3
                    tw-rounded-full
                    tw-no-underline

                    tw-bg-[#007e40]
                    hover:tw-bg-[#00582d]
                    tw-text-white

                    hover:tw-shadow-[0_0_0_0.5px_#000,2px_2px_0_#000]
                    hover:tw-translate-x-1
                    hover:tw-translate-y-1
                    tw-shadow-[inset_0_0_0_0.5px_#000,4px_4px_0_#000]


                    tw-transition-all
                    tw-duration-300
                    tw-ease-out

                    md:tw-w-[75%]
                    lg:tw-w-[60%]
                    xl:tw-w-[50%]

                    tw-h-[48px]

                    tw-text-[18px]

                    tw-leading-[120%]
                    tw-tracking-tighter

                    md:tw-flex-nowrap
                    md:tw-text-nowrap
                "
            >
                {{ section.settings.button_text }}
            </a>
            {% comment %} desktop mobile {% endcomment %}
            <p class="!tw-m-0 tw-text-[14px] md:tw-hidden tw-text-left tw-leading-[160%] tw-tracking-tight">
                {{ section.settings.description_mobile }}
            </p>

            <div class="tw-w-full tw-flex tw-flex-col tw-gap-2 tw-items-center md:tw-items-start">
            {% for block in section.blocks %}
                {% render 'home-guarantee-message',
                text: block.settings.text,
                show_tooltip: block.settings.show_tooltip,
                tooltip_text: block.settings.tooltip_text,
                tooltip_link: block.settings.tooltip_link,
                show_tooltip_link: block.settings.show_tooltip_link
                %}
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% schema %}
    {
        "name": "Home Hero Banner",
        "settings": [
            {
                "type": "header",
                "content": "Image Settings",
            },
            {
                "type": "image_picker",
                "id": "hero-image",
                "label": "Banner Image"
            },
            {
                "type": "image_picker",
                "id": "sale-badge",
                "label": "Sale Badge"
            },
            {
                "type": "header",
                "content": "Content Settings"
            },
            {
                "type": "text",
                "id": "title_row_1",
                "label": "Title Row 1 (No Highlight)",
                "default": "Welcome to Our Store"
            },
            {
                "type": "text",
                "id": "title_row_2",
                "label": "Title Row 2 (With Highlight)",
                "default": "Premium Quality Products"
            },
            {
                "type": "textarea",
                "id": "description_mobile",
                "label": "Description (Mobile)",
                "default": "Comprehensive nutrition with 60+ ingredients to help you feel your best. Delicious, convenient, and easy to stick to.",
            },
            {
                "type": "textarea",
                "id": "description_desktop",
                "label": "Description (Desktop)",
                "default": "Comprehensive nutrition with 60+ ingredients to help you feel your best. Delicious, convenient, and easy to stick to (unlike the rest of your resolutions).",
            },
            {
                "type": "color",
                "id": "highlight_color_1",
                "label": "Highlight Color for Row 1",
                "default": "#000000"
            },
            {
                "type": "color",
                "id": "highlight_color_2",
                "label": "Highlight Color for Row 2",
                "default": "#007e40"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "Save 60% + Free Shipping"
            },
            {
                "type": "url",
                "id": "refund_policy_link",
                "label": "Refund Policy Link",
            },
        ],
        "blocks": [
            {
                "type": "star_reviews",
                "name": "Star Reviews",
                "settings": [
                    {
                        "type": "range",
                        "id": "star_rating",
                        "label": "Star Rating",
                        "min": 1,
                        "max": 5,
                        "step": 0.1,
                        "default": 5.0
                    },
                    {
                        "type": "color",
                        "id": "star_color",
                        "label": "Star Color",
                        "default": "#007E40FF"
                    },
                    {
                        "type": "richtext",
                        "id": "review_text_mobile",
                        "label": "Review Text (Mobile)",
                        "default": "<p>Based on 1000+ reviews</p>"
                    },
                    {
                        "type": "richtext",
                        "id": "review_text_desktop",
                        "label": "Review Text (Desktop)",
                        "default": "<p>Based on 1000+ reviews</p>"
                    },
                    {
                        "type": "color",
                        "id": "review_font_color",
                        "label": "Review Text Color",
                        "default": "#000000"
                    },
                    {
                        "type": "color",
                        "id": "strong_font_color",
                        "label": "Strong Text Color",
                        "default": "#007e40"
                    }
                ]
            },
            {
                "type": "guarantee_item",
                "name": "Text Item",
                "settings": [
                    {
                    "type": "text",
                    "id": "text",
                    "label": "Text",
                    "default": "30-day guarantee"
                    },
                    {
                    "type": "checkbox",
                    "id": "show_tooltip",
                    "label": "Show tooltip",
                    "default": true
                    },
                    {
                    "type": "textarea",
                    "id": "tooltip_text",
                    "label": "Tooltip text",
                    "default": "Return shipping charges not included."
                    },
                    {
                    "type": "url",
                    "id": "tooltip_link",
                    "label": "Tooltip link"
                    },
                    {
                    "type": "checkbox",
                    "id": "show_tooltip_link",
                    "label": "Show tooltip link",
                    "default": true
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Home Hero Banner",
                "blocks": [
                    { "type": "guarantee_item" },
                    { "type": "guarantee_item" },
                    { "type": "guarantee_item" }
                ]
            }
        ]
    }
{% endschema %}
